<div id="album-list" class="album-list">
  <div class="post">
    <div class="thumbnails">
      <p><a href="/posts/{{id}}"> <img src="{{thumbnail}}" alt="thumbnail"> </a></p>
      
    </div>
    <a href="/posts/{{id}}" class="postTitle">{{title}}</a>
  </div>
</div>