<div id="album-list" class="album-list">
  <div class="post">
    <div class="thumbnails">
      <img src="{{thumbnail}}" alt="thumbnail">
    </div>
    <a href="/posts/{{id}}" class="postTitle">{{title}}</a>
  </div>
</div>