<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <header>
            <h1> CSC 317 Website </h1>
            <nav>
                <ul class="navbar">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="registration.html">Register</a></li>
                    <li><a href="postvideo.html">Post Video</a></li>
                    <li><a href="viewpost.html">View Post</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Welcome</h2>
            <div id="album-list" class="album-list">
                
            </div>
            <div id="total-albums" class="total-albums"></div>
        </main>
    </body>
</html>