<main>
  <h2>Welcome {{user.username}}</h2>
  <form action="/posts/search" method="get">
    <label>Search:</label>
    <input type="text" id="search" name="searchValue" placeholder="Search..." />
    <button type="submit">Go</button>
  </form>
  {{#each posts}}
    {{>card this}}
  {{/each}}
  <div id="total-albums" class="total-albums"></div>
</main>