<main>
  <div class="bg_image"></div>
  <div class="wrapper">
    <div class="content">
      <h2> Login </h2>
      <form>
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
        </div>

        <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>

        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
  </div>
</main>