<main>
  <h2> Profile </h2>
  <div class="profile_video_content">
    <div class="profileinfo">
      <img
        src="https://i.pinimg.com/736x/d4/4a/d7/d44ad7d54c0b1922a7c2ff5c598b0ab3.jpg"
        alt="profile_pic"
      />
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
    </div>
    <div class="posts">
      <h3>Posts:</h3>
      <nav>
        <ul class="profileposts">
          <li><a href="">Post 1</a></li>
          <li><a href="">Post 2</a></li>
          <li><a href="">Post 3</a></li>
          <li><a href="">Post 4</a></li>
          <li><a href="">Post 5</a></li>
          <li><a href="">Post 6</a></li>
        </ul>
      </nav>
    </div>
  </div>
</main>