<main>
  <h2> Profile </h2>
  <div class="profile_video_content">
    <div class="profileinfo">
      <img
        src="https://i.pinimg.com/736x/d4/4a/d7/d44ad7d54c0b1922a7c2ff5c598b0ab3.jpg"
        alt="profile_pic"
      />
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
    </div>
    <div class="posts">
      <h3>Posts:</h3>
      <nav>
        <ul class="profileposts">
          {{#each posts}}
            {{>profile_card this}}
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
</main>