
html{
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

nav ul{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

header{
  background-color:#05386b;
  padding-top: 1px;
}

h1{
  padding-left: 10px;
}

body {
  background-color: #5cdb95;
  margin: 0;
}

main{
  padding-left: 10px;
}

li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

a{
  display: inline;
  padding: 10px
}

footer{
  color: rgb(8, 8, 8);
  background-color: #379683;
  text-align: center;
  padding: 12px;
  box-shadow: 0 50vh 0 50vh #379683;
}

.active{
  background-color: #5cdb95;
}

form{
  margin-left: 10px;
}

input{
  padding: 10px;
  margin: 10px;
}

input[type = "text"]{
  width: 500px;
  border: 0px;
  border-bottom: 2px #05386b;
  box-shadow: 0 0 10px 2px rgb(8, 8, 8);
  border-radius: 10px;
}

input[type = "password"]{
  width: 500px;
  border: 0px;
  border-bottom: 2px #05386b;
  box-shadow: 0 0 10px 2px rgb(8, 8, 8);
  border-radius: 10px;
}

.checkboxes {
  font-weight: bold;
}

.mainpagecontent{
  align-content: center;
  text-align: center;
}