
html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(59, 121, 126, 0.658);
  margin: 0;
}

.site-footer{
  color: rgb(8, 8, 8);
  background-color: rgb(92, 161, 138);
  text-align: center;
  padding: 12px;
}